body {
	background: #000;

	overflow-x: hidden;
	overflow-y: hidden;

	margin: 0;
	padding: 0;
}

.wrapper {
	position: fixed;
	top: 10px;
	left: 10px;
}
.slider {
	color: white;
	display: flex;
	gap: 10px;
}
button {
	margin-top: 10px;
}

canvas {
	display: block;
	margin: 0 auto;
	background: black;
}